*, body {
    padding: 0;
    margin: 0;
    background: #0a152b;
}

section {
    position: relative;
}

.page-content {
    width: 98.7vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.newsletter {
    margin-top: 15rem;
}

p {
    font-size: .9rem;
    line-height: 1.6;
}

h1 {
    letter-spacing: 5px;
}

h2 {
    font-size: 2.5rem;
}

.bottom-left {
    content: "";
    position: absolute;
    width: 391px;
    height: 391px;
    border-radius: 50%;
    left: -100px;
    bottom: -200px;
    background: linear-gradient(180deg, rgba(255, 107, 107, 0.7) 0%, rgba(255, 107, 107, 0.147) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.top-right {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    right: -50px;
    top: -60px;
    background: linear-gradient(171.55deg, #FFE66D 19.21%, rgba(255, 230, 109, 0) 88.98%);
    transform: matrix(0.87, -0.49, -0.49, -0.87, 0, 0);
}


.logo, button, h2 {
    font-family: 'Poppins', sans-serif;
}

.logo span {
    color: #FF6B6B;
}

.btn {
    background: #FF6B6B;
    border: 1px solid #FF6B6B;
    color: #ffffff;
    border-radius: 5px;
}

.btn:hover {
    background: #FF6B6B;
    border: 1px solid #FF6B6B;
    color: #ffffff;
    border-radius: 5px;
}

.mobiles {
    z-index: 5 !important;
    /* background: #0a152b; */
    background: transparent;
    position: relative;
}

.mobiles div {
    background: transparent;
}

.phone1 {
    margin: 0 auto;
    position: relative;
}

.phone2 {
    margin-right: 5rem;
    position: relative;
}

.special {
    margin-top: 2rem;
}

.mobiles img {
    width: 80%;
    background: transparent;
    cursor: pointer;
}


/* ============= LIST STYLING ============= */

.yellow::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FFE66D; /* Change the color */
    font-size: 30px;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: .7em; /* Also needed for space (tweak if needed) */
}

.pink::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FF6B6B; /* Change the color */
    font-size: 30px;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: .7em; /* Also needed for space (tweak if needed) */
}


/* =========== MOBILE APPS BACKGROUND ============== */

.right {
    position: absolute;
    top: 60px;
    left: -100px;
    z-index: 1;
}

.left {
    position: absolute;
    bottom: 170px;
    right: -30px;
    z-index: -1;
}

.next {
    position: absolute;
    bottom: 10px;
    right: -50px;
    z-index: -1;
}

.brace {
    position: absolute;
    bottom: 70px;
    right: 180px;
    z-index: -1;
}

.img4-top {
    position: absolute;
    top: -20px;
    right: 5px;
    z-index: -1;
}

.yellow-circle {
    position: absolute;
    top: 100px;
    right: 210px;
    z-index: -1;
}

.pink-circle {
    position: absolute;
    bottom: 70px;
    right: 30px;
    z-index: -1;
}

.c-shape {
    position: absolute;
    left: -120px;
    bottom: -120px;
    z-index: -1;
}

.c-bottom {
    position: absolute;
    transform: rotate(180deg);
    right: -150px;
    bottom: 0;
    z-index: -1;
}

.bottom-circle {
    position: absolute;
    right: 150px;
    bottom: 120px;
    z-index: -1;
}

.top-circle {
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: -1;
}

.blue-circle {
    position: absolute;
    bottom: 70px;
    left: 10px;
    z-index: -1;
}

/* ============= MODAL IMAGES ================ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 250px;
    background: transparent;
}

  
  /* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
 }
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* ============= ANIMATIONS ============= */
/* Bubble */
 /* Bubble effect animation */
 .bubble {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    background: #FFE66D;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    background: linear-gradient(180deg, rgba(233, 188, 183, 0.63) 0%, rgba(233, 188, 183, 0.203) 100%);
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
    left: 350px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    background: linear-gradient(180deg, rgba(42, 72, 147, 0.7) 0%, rgba(42, 72, 147, 0.266) 100%);
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x4 {
    left: 270px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    background: linear-gradient(241.02deg, #FF6B6B 21.69%, rgba(255, 107, 107, 0) 92.8%);
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    
}

.x5 {
    left: 500px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    background: linear-gradient(180deg, rgba(233, 188, 183, 0.63) 0%, rgba(233, 188, 183, 0.203) 100%);
    -webkit-animation: moveclouds 16s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 16s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 16s linear infinite, sideWays 1s ease-in-out infinite alternate;
    
}

.x6 {
   right: 700px;
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   transform: scale(0.6);
   background: linear-gradient(180deg, rgba(233, 188, 183, 0.63) 0%, rgba(233, 188, 183, 0.203) 100%);
   -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x7 {
   right: 200px;
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   transform: scale(0.6);
   background: #FFE66D;
   -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
   -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
   -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x8 {
   right: 550px;
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   transform: scale(0.6);
   background: #FFE66D;
   -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
}

.x9 {
   right: 350px;
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   transform: scale(0.6);
   background: linear-gradient(241.02deg, #FF6B6B 21.69%, rgba(255, 107, 107, 0) 92.8%);
   -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
   -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
   -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
   
}

.x10 {
   right: 50px;
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   transform: scale(0.6);
   background: linear-gradient(180deg, rgba(233, 188, 183, 0.63) 0%, rgba(233, 188, 183, 0.203) 100%);
   -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
   
}

@-webkit-keyframes moveclouds { 
    0% { 
        top: 1500px;
    }
    100% { 
        top: -1500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 1500px;
    }

    100% { 
        top: -1500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-o-keyframes moveclouds {
    0% { 
        top: 1500px;
    }
    100% { 
        top: -1500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}


/* ROTATION */

.rotate {
    animation: rotation 8s infinite alternate;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.scroll{
    animation: move 1s infinite alternate;
}

@keyframes move {
    from{
        transform: translateY(0px);
    }
    
    to{
        transform: translateY(20px);
    }
}


/* ============= RAIN EFFECT ============== */
/* Rain effect */
.rain {
    position: absolute;
    width: 300px;
    height: 8px;
    background: linear-gradient(269.71deg, rgba(10, 21, 43, 0.7) 31.44%, rgba(255, 255, 255, 0.357) 100.8%);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transform: rotate(-47.75deg);
}

.y1 {
    left: 300px;
    top: -20px;
}

.y2 {
    left: -50px;
    top: 400px;
}

.y3 {
    right: -150px;
    top: 400px;
}

.y4 {
    right: 350px;
    top: 400px;
}

.y5 {
    left: 470px;
    bottom: 600px;
}

.y6 {
    right: 70px;
    bottom: 500px;
}

.y7 {
    left: 350px;
    bottom: 160px;
}



/* ================ MEDIA QUERIES =============== */
@media only screen and (max-width: 768px) {
    body::before {
        width: 200px;
        height: 200px;
        left: -50px;
        bottom: -100px;
    }

    body::after {
        width: 200px;
        height: 200px;
        right: -20px;
        top: -100px;
    }

    .newsletter, .newsletter-content {
        margin: 0;
        padding: 0;
    }
}

  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}